<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE xml>

<configuration  status="DEBUG">
	<appenders>
		<File name="fichierLog" fileName="C:\Users\nada\Desktop\java-formation\Openclassrooms-JAVA\projet6\projet\climbing2\climbing-website\climbing\climbing-technical\src\main\resources\fichierLog.log">
			<PatternLayout pattern="%d{yyyy-mm-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>

		<File name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</appenders>

	<loggers>
		<root level="error">
			<Appender-ref ref="fichierLog" />
			<Appender-ref ref="console" />
		</root>
	</loggers>
	
</configuration>